<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remote coffee</title>
    <script src="{{ url_for('static',    filename='js/main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <form id="form">
        <h1>Coffee Request</h1>
        <p id="counter" style="display:none;text-align: center;">You have <span id="count" class="bigger"></span> coffees left.</p>
        <div class ="input-container">
            <input name="username" id="username-input" type="text" placeholder="Username" autocomplete="on">
            <div id="error-message">Invalid username</div>
        </div>
        <textarea name="context" placeholder="How would you like your coffee?" rows="5"></textarea>
        <button disabled="True" id="submit" type="submit">Submit</button>
        <div id="result"></div>
    </form>
</body>
</html>