<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remote coffee</title>
    <script src="{{ url_for('static',    filename='js/main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <form id="form">
        <h1>Coffee Request</h1>
        <div class = "input-container">
            <input name="code" id="code-input" type="text" placeholder="Coupon Code" required pattern = "[0-9]{4}" pattern="\d*" autocomplete="off">
            <div id="error-message">Invalid code</div>
        </div>
        <textarea name="context" placeholder="How would you like your coffee?" rows="5"></textarea>
        <button id="submit" type="submit">Submit</button>
        <div id="result"></div>
    </form>
</body>
</html>